html, body {
  height: 100%;
  font-family: "Inter";
}

.container-fluid {
    background-image: url(images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    height: 100%;
    padding: 8% 10%;
}

/* Text  */
.text-div {
  margin: auto;
  z-index: 1;
}
.quote {
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 23%;
}
.quote p {
  font-size: 2rem;
  font-weight: 300;
  padding-top: 4rem;
  width: 45vw;
  color: hsl(240, 38%, 20%);
}
h4 {
  display: inline-block;
  font-size: 20px;
}
.name {
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}
.occupation {
  font-weight: 500;
  color: hsl(240, 18%, 77%);
}

/* Image */
#pattern-bg {
  position: absolute;
  z-index: -1;
  right: 10%;
  top: 5%;
  width: 49vw;
}
.image-div {
  margin: auto;
}
.testimonial-image {
    border-radius: 7px;
    width: 80%;
    z-index: 1;
}

/* Buttons */
.slider-btns {
    background-color: #fff;
    border-radius: 50rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100px;
    height: 40px;
    position: absolute;
    top: 73%;
    right: 35%;
    text-align: center;
}
#prev-btn, #next-btn {
    background: none;
    border: none;
    margin: 6% 0;
}
#prev-btn:focus, #next-btn:focus {
    border: none;
    outline: none;
}
#next-btn {
  margin-left: 15%;
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {

  html, body {
    text-align: center;
  }

  .container-fluid {
      background-position-x: left;
      background-position-y: bottom;
      background-size: 80%;
  }
  .text-div {
    order: 2;
    margin-top: 8%;
  }
  .quote {
      background-size: 20%;
      background-position-x: center;
      background-position-y: 20%;
  }
  .image-div {
    order: 1;
    margin-top: 10%;
  }

  #pattern-bg {
    position: absolute;
    z-index: -1;
    width: 80vw;
  }
  .quote p {
    font-size: 4.2vw;
    font-weight: 300;
    padding-top: 4rem;
    width: auto;
  }
  h4 {
    display: block;
    font-size: 4.2vw;
  }
  .slider-btns {
      width: 80px;
      top: 35%;
      right: 38%;
  }

}
